header {
    background-color: #f2f2f2;
    padding: 10px;
}

/* Style for the navigation menu */
nav {
    display: flex;
    justify-content: center;
}

nav a {
    margin: 0 10px;
    color: #333;
    text-decoration: none;
}

/* Style for the h1 heading */
h1 {
    text-align: center;
    color: #333;
}

/* Style for the h2 headings */
h2 {
    margin-bottom: 10px;
}

h2 a {
    color: #666;
    text-decoration: none;
}

/* Style for the snack list links */
a {
    color: rgb(55, 55, 67);
}
h2{
    color: aquamarine;
}